<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -FinalCodeFirst</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Images/BackStyle.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" >

        @Html.ActionLink("FinalCodeFirst", "Index", "Home",
         new { area = "" }, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Home", "Home",
                     new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Modulo de Mantenimiento", "ModuloMantenimiento", "Home",
                     new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Modulo de Procesos", "ModuloProcesos", "Home",
                     new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Modulo de Informes", "ModuloInforme", "Home",
                     new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>



    <br />
    <br />


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
